@use '@assets/styles/mixinResponsive' as *;
@use '@assets/styles/mixinPadding' as *;
@use '@assets/styles/mixinIcon' as *;

.navbar {
    position: fixed;
    inset: 0;
    height: var(--height-navbar);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: rgba(var(--background), 0.6);
    padding: var(--padding);
    border-bottom: 1px solid rgba(var(--border), 0.4);
    backdrop-filter: blur(0.5rem);
    letter-spacing: var(--letter-spacing-body-2);
    color: rgba(var(--foreground));
    z-index: 999;

    @include padding;

    .left {
        display: flex;
        gap: 2rem;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .icon {
                @include icon(no-corner, expand);
            }

            .text {
                font-weight: 700;
                letter-spacing: var(--letter-spacing-body-1);
            }
        }

        .expand {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.25rem;
            height: 2.25rem;

            svg {
                font-size: 1.25rem;
            }
        }
    }

    .right {
        display: flex;

        .setting {
            color: rgba(var(--foreground));
            display: flex;
        }
    }
}
