@use '@assets/styles/mixinResponsive' as *;
@use '@assets/styles/mixinPadding' as *;
@use '@assets/styles/mixinIcon' as *;

.home {
    @include padding;
    margin-top: var(--height-navbar);

    .marquee-container {
        margin-top: 5rem;

        .title {
            background: rgb(var(--background));
            color: rgb(var(--foreground));
            font-size: 1.75rem;
            font-weight: 600;
        }

        .marquee-group {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            margin-top: 1.5rem;
        }
    }
}
