@use '@assets/styles/mixinResponsive' as *;
@use '@assets/styles/mixinPadding' as *;

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 0 2rem;
    text-align: center;
    color: rgb(var(--foreground));

    @include responsive(landscapePhone) {
        padding: 2rem 0 1rem;
    }

    .line1 {
        font-size: var(--font-s);
        letter-spacing: var(--letter-spacing-body-2);
        background: rgb(var(--muted));
        border-radius: var(--radius-m);
        padding: 0.25rem 0.5rem;
        font-weight: 500;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 0.5rem;

        .divider {
            width: 1px;
            background: rgb(var(--border));
            flex-shrink: 0;
        }
    }

    .line2 {
        font-size: 3.75rem;
        letter-spacing: var(--letter-spacing-h2);
        font-weight: 700;

        @include responsive(landscapePhone) {
            font-size: 3rem;
            letter-spacing: var(--letter-spacing-h3);
        }
    }

    .line3 {
        font-size: 1.25rem;
        letter-spacing: var(--letter-spacing-h6);
        color: rgb(var(--muted-foreground));
        max-width: 40rem;

        @include responsive(landscapePhone) {
            max-width: 30rem;
        }

        @include responsive(portraitPhone) {
            max-width: 20rem;
        }
    }

    .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        gap: 1rem;
        padding: 1rem 0;

        .btn-primary {
            background: rgb(var(--primary));
            color: rgb(var(--primary-foreground));
            padding: 0.5rem 1rem;
            border-radius: var(--radius-m);
            border: 1px solid rgb(var(--primary));
            box-shadow: var(--shadow-sm);
            transition: all 0.2s ease-in-out;

            cursor: pointer;

            &:hover {
                background: rgba(var(--primary), 0.9);
            }
        }

        .btn-secondary {
            background: rgb(var(--background));
            padding: 0.5rem 1rem;
            border-radius: var(--radius-m);
            border: 1px solid rgb(var(--border));
            box-shadow: var(--shadow-sm);
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                background: rgb(var(--accent));
            }
        }
    }
}
