.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: rgb(var(--background));
    color: rgb(var(--foreground));
    margin-bottom: 2rem;
    font-size: 2rem;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        font-weight: 600;
    }
}
