@mixin icon($corner: no-corner, $expand: no-expand) {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        font-size: 1.25rem;
    }

    @if $corner == circle {
        svg {
            border-radius: 50%;
        }
    }

    @if $expand == expand {
        width: 2.25rem;
        height: 2.25rem;
    }
}
